*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Belleza', sans-serif;
    background: linear-gradient(to right top, #d7f6f0, #6cdbeb);
}
main{
    padding: 40px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.glass{
    display: flex;
    background: white;
    min-height: 80vh;
    width: 70%;
    border-radius: 2rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2rem);
    z-index: 2;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
    
}

.photo{
    width: 10rem;
    height: 10rem;
    object-fit: cover;  
    border-radius: 50%; 
    border: 1px solid lightcyan;
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(  to right bottom,  rgba(255, 255, 255, 0.8),  rgba(255, 255, 255, 0.3) );
    height: 9rem;
    width: 9rem;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.circle1 {
    top: 3%;
    right: 11%;
}
.circle2 {
    bottom: 3%;
    left: 11%;
}
.navbar{
    background-color: black;
    font-size: 20px;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 14px 0 14px;  
    
}
li a{
    text-decoration: none; 
    color: white;
}
li a:hover{
    border: 1px solid white;
    color: rgb(231, 229, 229);
}
.line{
    border-left: 3px solid black;
    height: 540px;
}
#lang{
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    padding: 14px 0 14px;  
}
.soc{
    color: black;
    flex-direction: column;
    align-items: center;
    padding: 2px 2px;
    margin: 40px 2px;
}
.social{

    padding: 25px 2px;
}
.soc{
    display: flex;
    flex-direction: column;
}
.soc-logo{
    width: 30px;
    height: 30px;
    margin: 10px 10px;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.skills-head{
    padding: 6px 2px;
}

