.about{
    padding: 2rem;
    background-color: #223f48;
}
.aboutDiv{
    background-color: #7d88a8;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    min-height: 100vh;
    border-radius: 2rem 1rem;
}

.helloText{
    color: rgb(65 70 85);
}

.aboutText{
    display: flex;
    width: 50%;
    color: #dde6d2;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    flex-wrap: wrap;
}

.langDiv {
    color: #474e55;
    padding: 1rem;
    min-height: 100vh;
    background-color: #7d88a8;
    border-radius: 1rem 2rem;
}

.langText {
    padding: 0.5rem;
    font-size: 3rem;
}

.langList {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 4rem;
    line-height: 75%;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 2rem;
    color:#dde6d2;
}