.about{
    padding: 2rem;
    background-color: #223f48;
}
.aboutDiv{
    background-color: #7d88a8;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    border-radius: 2rem 1rem;
}

.aboutText{
    display: flex;
    color: #dde6d2;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.helloText{
    color: rgb(62, 71, 73);
    margin: 1rem;
    padding: 1rem;
    font-size: 32px;
    /* text-decoration: underline; */
}

.aboutList{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 1rem;
}

.aboutList p{
    width: 32rem;
   
    line-height: 150%;
}
.aboutList div{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    margin-left: 1rem;
    margin: 1rem;
}

.aboutList img{
    opacity: 0.8;
    z-index: -1;
    width: 35%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
}


.langDiv {
    color: #474e55;
    padding: 1rem;
    min-height: 100vh;
    background-color: #7d88a8;
    border-radius: 1rem 2rem;
}

.langText {
    padding: 0.5rem;
    font-size: 2rem;
    margin-left: 1rem;
}

.langList {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: 1.4rem;
    text-align: center;
    margin: 2rem;
    width: 50%;
    color:#dde6d2;
}