@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Work+Sans:wght@200&display=swap');
body {
  font-family: 'Belleza', serif;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  min-height: 70vh;
  flex-wrap: wrap;
}

.headerText {
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 45%;
}

.headerText h1,
h5 {
  color: rgb(70, 66, 66);
  z-index: 10;
  backdrop-filter: blur(6px);  
}

.animatep{
  font-weight: bold;
  color: rgb(70, 66, 66);
  font-size: 1.5rem;
  overflow: hidden;
  height: 40px;
}

.titleId{
  margin-left: 1rem;
  height: 50px;

}

.titleWrapper {
  animation: move 8s ease-in-out infinite alternate;
}

@keyframes move {
  50%{
    transform: translateY(-40px);
  }
  100%{

    transform: translateY(-90px);
  }
}

.headerText h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.headerText h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.headerText h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

.headerText h1 {
  position: relative;
  font-size: 5rem;
  padding: 1rem;
  border-radius: 2rem;
  text-shadow: -2px 2px rgba(228, 224, 224, 0.568);
}

.headerText h5{
  border-right: 3px solid;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 70%;
}

.profDiv {
  display: flex;
  justify-content: flex-end;
  padding: 3rem;
  margin: 1rem;
  backdrop-filter: blur(3px);
  overflow: hidden;
  background-color: #7d88a8;
  border-radius: 10rem 5rem 7rem;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}


.profDiv img {
  width: 18rem;
  height: 18rem;
  object-fit: contain;
  border-radius: 2rem;
}
