* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Belleza', sans-serif;
    background: linear-gradient(to right top, #d7f6f0, #6cdbeb);

}

.intro {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    color: white;
    font-size: 2.5em;
}

.slider {
    background: rgb(45, 47, 49);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateY(100%);
}

.hide {
    background-color: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

nav {
    background-color: black;
    font-size: 1.5rem;
    color: rgb(240, 234, 234);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
}

.logo {
    letter-spacing: 8px;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;

}

.nav-links li {
    margin: 0.2rem;
}

.nav-links a {
    text-decoration: none;
    color: #d1cdcd;
    padding: 12px;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(107, 102, 102, 0);
        box-shadow: 0 0 0 0 rgba(102, 100, 100, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(104, 101, 101, 0);
        box-shadow: 0 0 0 0 rgba(87, 85, 85, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(253, 246, 246, 0.35);
        box-shadow: 0 0 20px 0px rgba(250, 248, 248, 0.35);
    }
}

.nav-links a:hover {
    color: white;
    -webkit-animation: shadow-drop-2-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.burger {
    display: none;
    cursor: pointer;
}

main {
    padding: 40px 2px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.glass {
    display: flex;
    background: white;
    min-height: 80vh;
    width: 70%;
    border-radius: 2rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2rem);
    z-index: 2;
    -webkit-animation: shake-vertical 20s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-vertical 20s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem;

}

.photo {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid lightcyan;
}

.user img,
h3,
p {
    margin: 2px;
}

.location {
    display: flex;
    padding: 2px;

}

.soc {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.soc svg {
    margin: 0.5rem;
}

@-webkit-keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

@keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }

    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}


.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 9rem;
    width: 9rem;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    -webkit-animation: shake-vertical 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-vertical 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.circle1 {
    top: 12%;
    right: 11%;
}

.circle2 {
    bottom: -12%;
    left: 11%;
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 80vh;
        top: 10vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        transform: translateX(100%);
        transition: transform 0.4 ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

}